{% extends 'inicio/person.html' %}
{% block body %}
<div class="container my-5">
    <h2 style="color: black;">Registrar Mantenimiento</h2></br>
    {% if form.errors %}
    {% for field in form %}
    {% for error in field.errors %}
    <div class="alert alert-danger">
        <strong>Error</strong>
    </div>
    {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
    <div class="alert alert-danger">
        <strong>{{ error|escape }}</strong>
    </div>
    {% endfor %}
    {% endif %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="card">
            <div class="container">
                <br>
                <div class="row">
                    <input type="hidden" value="{{ user.id}}" name="user">
                    <div class="dropdown col-sm-3">
                        <label for="">Serial Producto:</label>
                        {{form.Producto}}
                        {{ form.Producto.errors }}
                    </div>
                    <div class="col -sm-3">
                        <div class="form-group">
                            <label for="">Reporte Noveda:</label>
                            {{form.ReporteNoveda}}
                            {{ form.ReporteNoveda.errors }}
                        </div>
                    </div>
                    <div class="col -sm-3">
                        <div class="form-group">
                            <label>Dia Envio:</label>
                            {{ form.DiaEnvio }}
                            {{ form.DiaEnvio.errors }}
                        </div>
                    </div>
                    <div class="col -sm-3">
                        <div class="form-group">
                            <label>Dia Regreso:</label>
                            {{ form.DiaRegreso }}
                            {{ form.DiaRegreso.errors }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="dropdown col-sm-3">
                        <label for="">Reporte Solucion:</label>
                        {{form.ReporteSolucion}}
                        {{form.ReporteSolucion.errors }}
                    </div>
                    <div class="dropdown col-sm-3">
                        <label for="">Observaciones:</label>
                        {{form.Observaciones}}
                        {{form.Observaciones.errors }}
                    </div>
                </div>
            </div></br>
            <div class="container">
                <button type="submit" class="btn btn" style="background-color: #3e5f8a ;"><span
                        style="color: white;">Crear Mantenimiento</span></button>
            </div>
        </div>
    </form>
</div>
{% endblock %}