{% extends 'base/baseMuro.html'%}
{% load static%}
{% load table_tags %}
{% block body %}

<div class="container-fluid">
    <!-- Page Heading -->
    <h2 style="color: black;" class="text-center"> Lista de Productos</h2>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Tipo Producto</th>
                        <th>Serial</th>
                        <th>Imei</th>
                        <th>Estado</th>
                        <th>Ubicacion</th>
                        <th>Opciones</th>
                    </tr>
                    </thead>
                    {% if datos %}
                    {% for event in datos%}
                    <tbody>
                    <tr>
                        <td>{{ event.id}}</td>
                        <td>{{ event.TipoProducto }}</td>
                        <td>{{ event.Serial }}</td>
                        <td>{{ event.Imei }}</td>
                        <td>{{ event.Estado }}</td>
                        <td>{{ event.Ubicacion }}</td>
                        <td>                          
                            <a onclick=" return abrir_modal('{% url 'eventos:DetalleEvento' event.id %}')"
                               class="btn btn-outline-warning" href="#">Ver</a>
                            <a onclick=" return abrir_modal('{% url 'eventos:EditarEvento' event.id %}')"
                               class="btn btn-outline-primary" href="#">Editar</a>
                            <a onclick=" return abrir_modal('{% url 'eventos:EliminarEvento' event.id %}')"
                               class="btn btn-outline-danger" href="#">Eliminar</a>
                        </td>
                    </tr>
                    </tbody>
                    {% endfor %}
                    {% else %}
                    <tbody>
                    <tr>
                        <td colspan="6"><h3>No existen Productos registrados....</h3></td>
                    </tr>
                    </tbody>
                    {%endif%}
                </table>
                <ul class="pager">
                    <li>
                        {% if page_obj.has_previous %}
                        <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>
                        {% endif %}
                    </li>
                    <li>
                        {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}">Siguiente</a>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
{%endblock%}