{% extends 'base/baseMuro.html'%}
{% load static%}
{% load table_tags %}
{% block body %}

<div class="container-fluid">
    <!-- Page Heading -->
    <h2 class="text-center" style="color: black;">Lista de Mantenimientos</h2></br>
    <div>
        <a type="button" class="btn btn" style="background-color: #3e5f8a ;" href="{% url 'eventos:CrearMantenimiento'%}"><span style="color: white;">Crear Mantenimiento</span></a>
    </div>
</br>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Serial Producto</th>
                        <th>Fecha Mantenimiento</th>
                        <th>Reporte Novedad</th>
                        <th>Dia Envío</th>
                        <th>Dia Regreso</th>
                        <th>Reporte Solucion</th>
                        <th>Observaciones</th>
                        <th>Opciones</th>
                    </tr>
                    </thead>
                    {% if datos %}
                    {% for event in datos%}
                    <tbody>
                    <tr>
                        <td>{{ event.id }}</td>
                        <td>{{ event.Producto }}</td>
                        <td>{{ event.FechaCreacion }}</td>
                        <td>{{ event.ReporteNoveda }}</td>
                        <td>{{ event.DiaEnvio }}</td>
                        <td>{{ event.DiaRegreso }}</td>
                        <td>{{ event.ReporteSolucion }}</td>
                        <td>{{ event.Observaciones }}</td>
                        <td>                          
                            <a onclick=" return abrir_modal('{% url 'eventos:DetalleMantenimiento' event.id %}')"
                               class="btn btn-outline-warning" href="#">Ver</a>
                            <a onclick=" return abrir_modal('{% url 'eventos:EditarMantenimiento' event.id %}')"
                               class="btn btn-outline-primary" href="#">Editar</a>
                            <a onclick=" return abrir_modal('{% url 'eventos:EliminarMantenimiento' event.id %}')"
                               class="btn btn-outline-danger" href="#">Eliminar</a>
                        </td>
                    </tr>
                    </tbody>
                    {% endfor %}
                    {% else %}
                    <tbody>
                    <tr>
                        <td colspan="6"><h3>No existen Mantenimientos registrados....</h3></td>
                    </tr>
                    </tbody>
                    {%endif%}
                </table>
                <ul class="pager">
                    <li>
                        {% if page_obj.has_previous %}
                        <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>
                        {% endif %}
                    </li>
                    <li>
                        {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}">Siguiente</a>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
{%endblock%}