<!DOCTYPE html>
<html lang="es">
{% load static%}
{% load fontawesome_5 %}
{% load responsive_images %}

<head>
    {% fontawesome_5_static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title> Novaventa Inventario </title>
    <link href="{% static 'css/bootstrap.min.css'%}" rel="stylesheet">
    <link href="{% static 'css/bootstrap.css'%}" rel="stylesheet">
</head>

<body id="page-top">
    <div id="wrapper">
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <a class="navbar-brand" href="{% url 'inicio:person' %}">
                        <img src="{% static 'img/logo.jpeg'%}" height="108" width="250" class="img-fluid"
                            alt="Responsive image">
                    </a>                    
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <div class="text-center">
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'login' %}" id="userDropdown" role="button"
                                        style="color: #3e5f8a">
                                        <strong>
                                            <span class="text">Ingresar</span>
                                        </strong>
                                    </a>
                                </li>
                            </div>
                        </ul>
                    </div>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <div class="text-center">
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'login' %}" id="userDropdown" role="button"
                                        style="color: #3e5f8a">
                                        <strong>
                                            <h2 class="h2">Inventario Tecnológico Novaventa</h2>
                                        </strong>
                                    </a>
                                </li>
                            </div>
                        </ul>
                    </div>

                </nav>
            </div>
            <div>
                <div class="text-center">
                    <img src="{% static 'img/l2.png'%}" class="img-fluid" alt="Responsive image"> 
                </div>
            </div>            
        </div>
        <footer class="sticky-footer bg-white">
            <div class="container my-auto"></div>
            <div class="copyright text-center my-auto">
                <span>Copyright &copy; Novaventa</span>
            </div>
        </footer>
    </div>
    </div>
    <script src="{% static 'js/jquery.min.js'%}"></script>
    <script src="{% static 'js/boostrap.min.js'%}"></script>
</body>
</html>