<!DOCTYPE html>
<html lang="es">
{% load static%}
{% load responsive_images %}
{% load fontawesome_5 %}

<head>
    {% fontawesome_5_static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css"
    integrity="sha256-DOS9W6NR+NFe1fUhEE0PGKY/fubbUCnOfTje2JMDw3Y=" crossorigin="anonymous"/>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"
      integrity="sha256-FEqEelWI3WouFOo2VWP/uJfs1y8KJ++FLh2Lbqc8SJk=" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
        function abrir_modal(url) {
            $('#ventana_modal').load(url, function () {
                $(this).modal({
                    backdrop: 'static',
                    keyboard: false
                })
                $(this).modal('show');
            });
            return false;
        }
        function cerrar_modal() {
            $('#ventana_modal').modal('hide');
            return false;
        }
    </script>
    <title>Novaventa Inventario</title>
    <link href="{% static 'css/bootstrap.min.css'%}" rel="stylesheet">
    <link href="{% static 'css/novaventa.min.css'%}" rel="stylesheet">
</head>
<body id="page-top">
    <div id="wrapper">
        <ul class="navbar-nav sidebar sidebar-dark accordion" id="accordionSidebar" >
            <div>
                <a class="navbar-brand" href="{% url 'inicio:person' %}">
                    <img src="{% static 'img/logo.jpeg'%}" height="108" width="250" class="img-fluid" 
                        alt="Responsive image">
                </a>
            </div>
            <hr class="sidebar-divider">
            <div class="sidebar-heading"  style="color: #3e5f8a">
                Control de Inventario
            </div>
            <hr class="sidebar-divider">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'inicio:person'%}" style="color: #3e5f8a">
                    <i class="fas fa-cube" style="color: #3e5f8a"></i>
                    <span>Productos</span></a>
                </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'eventos:listaEventos' user.id  %}" style="color: #3e5f8a">
                    <i class="fa fa-tools" style="color: #3e5f8a"></i>
                    <span>Tabla Inventario</span>
                </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'eventos:listarMantenimientos' user.id %}" style="color: #3e5f8a">
                    <i class="fa fa-cogs" style="color: #3e5f8a"></i>
                    <span> Mantenimiento </span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'eventos:listarBackups' user.id %}" style="color: #3e5f8a">
                    <i class="fa fa-server" style="color: #3e5f8a"></i>
                    <span> Backup </span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'eventos:CrearEvento'%}" style="color: #3e5f8a">
                    <i class="fas fa-american-sign-language-interpreting" style="color: #3e5f8a"></i>
                    <span> Crear Producto </span></a>
            </li>
            <hr class="sidebar-divider d-none d-md-block">
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle" style="background-color: #3e5f8a"></button>
            </div>
        </ul>
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle " style="color: #3e5f8a">
                        <i class="fa fa-bars"></i>
                    </button>
                    <form method='GET' action='.' class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <div class="input-group">
                            <input type="text" name="q" class="form-control bg-light border-0 small"
                                   placeholder="Buscar" aria-label="Search" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn" style="color: #3e5f8a" type="button">
                                    Buscar
                                </button>
                            </div>
                        </div>
                    </form>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                 aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small"
                                               placeholder="Buscar" aria-label="Search"
                                               aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn" style="color: #3e5f8a" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>    
                        <div class="topbar-divider d-none d-sm-block"></div>
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" id="userDropdown" role="button" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                                    <span class="mr-2 d-none d-lg-inline text-gray-600 small"
                                          href="{% url 'inicio:person' %}">{{user.username}}</span>
                                <img class="img-profile rounded-circle" src="{% static 'img/usuario.png'%}">
                            </a>
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                 aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="{% url 'inicio:person'%}">
                                    <i class="fa fa-user mr-2 text-gray-400"></i>{{user.username}}
                                </a>   
                                <div class="dropdown-divider"></div>
                                <a href="{% url 'logout'%}" class="dropdown-item">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400">
                                    </i>
                                    Salir
                                </a>
                            </div>
                        </li>
                    </ul>
                </nav>
                <script src="{% static 'js/bootstrap.bundle.min.js'%}"></script>
                <script src="{% static 'js/novaventa.min.js'%}"></script>                
                <div id="ventana_modal" class="modal fade" role="dialog"></div>
                {% block body%}{% endblock%}
            </div>
            <a class="scroll-to-top rounded" href="#page-top">
                <i class="fas fa-angle-up"></i>
            </a>
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Novaventa</span>
                    </div>
                </div>
            </footer>
        </div>
        <script>
            $(function () {
                $('.datetime-input').datetimepicker({
                    format: 'Y-M-D H:m'
                });
            });
        </script>
    </div>
</body>
</html>