<!DOCTYPE html>
<html lang="es">
{% load static%}
{% load responsive_images %}
{% load fontawesome_5 %}

<head>
    {% fontawesome_5_static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Novaventa Inventario </title>
    <link href="{% static 'css/bootstrap.min.css'%}" rel="stylesheet">
</head>

<body>
    {% block body %}{% endblock %}

</body>

</html>