<div>
    <div class="btn-group">
        <button class="btn btn btn-sm dropdown-toggle" style="color: rgb(41, 29, 29);" type="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            Tipo Producto
        </button>
        <div class="dropdown-menu">
            {% for tipo in tipos %}
            <a class="dropdown-item" href="{%url 'inicio:FiltrarTipoEvento' tipo.id%}">{{tipo.NombreTipo }}</a>
            {% endfor %}
        </div>
    </div>
    <div class="btn-group">
        <button class="btn btn btn-sm dropdown-toggle" style="color: rgb(41, 29, 29);" type="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            Estado
        </button>
        <div class="dropdown-menu">
            {% for categ in categorias %}
            <a class="dropdown-item" href="{%url 'inicio:FiltrarCategorias' categ.id%}">{{categ.NombreEstado}}</a>
            {% endfor %}
        </div>
    </div>
</div></br>