{% extends 'base/loginBase.html'%}
{% load static%}
{% block body %}

{% if form.errors %}
{% for field in form %}
{% for error in field.errors %}
<div class="alert alert-danger">
    <strong>Error en los datos de contraseña o usuario</strong>

</div>
{% endfor %}
{% endfor %}
{% for error in form.non_field_errors %}
<div class="alert alert-danger">
    <strong>{{ error|escape }}</strong>
</div>
{% endfor %}
{% endif %}
<div class="container">
    <div class="row">
        <div class="col-xl-10 col-lg-12 col-md-9">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-block ">
                            <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <img class="d-block w-100" src="{% static 'img/login0.jpg' %}"
                                             alt="First slide"> 
                                    </div>                                   
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <a class="navbar-brand" href="index.html">
                                <img src="{% static 'img/logo.jpeg'%}" class="img-fluid" alt="Responsive image">
                            </a>
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text" style="color: black">Entrada</h1>
                                </div>
                                <form class="user" method="post">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        {{form.username }}
                                        {{form.username.errors }}
                                    </div>
                                    <div class="form-group">
                                        {{form.password}}
                                        {{form.password.errors}}
                                    </div>
                                   <input type="submit"  value="Entrar"  class="btn btn btn-user btn-block" style="background-color: green">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

