{% extends 'base/baseMuro.html'%}
{% load static%}
{% load static %}

{% load fontawesome_5 %}
{% block body %}

<link href="{% static 'css/starrr.css'%}" rel="stylesheet">
<script src="{% static 'js/starrr.js'%} "></script>

{% include "inicio/filter.html" %}
{% if datos != null %}
{%for c in datos %}


<div class="container posts-content ">
    <div class="row">
        <div class="card-deck">
            <div class="col-lg-6">
                <div class="card mb-4">
                    <div class="media-body ml-3">
                        </br>
                        <strong style="color: black;">{{c.TipoProducto}}</strong>
                        <div class="text-muted small">Fecha de Ingreso: {{c.FechaCreacion}}</div>
                    </div>
                    <hr class="card-body">
                    <img src="{{ c.Foto.url}} " class="img-fluid" alt="Responsive image">
                    <p>
                        {{c.Descripcion}}
                    </p>
                    <div class="text-muted small"><i class="fa fa-id-card"></i> Asignado a: {{c.Asignado}}
                    </div>
                    <div class="text-muted small"><i class="fa fa-map-marker"></i> Ubicación: {{c.Ubicacion}}</div>
                    <div class="text-muted small"><i class="fa fa-barcode"></i>
                        Serial: {{c.Serial}} </br>
                        <i class="fa fa-bookmark"></i>
                        Imei: {{c.Imei}}
                    </div>
                    <div class="text-muted small"><i class="fa fa-bars"></i> Modelo:
                        {{c.ModeloProducto}}
                        </br><i class="fa fa-copyright"></i> Contrato: {{c.Contrato}}
                    </div>
                    <div class="text-muted small"><i class="fa fa-hashtag" aria-hidden="true"></i>
                        Cantidad:
                        {{c.Cantidad}}
                    </div>
                    <div class="text-muted small"><i class="fa fa-exclamation" aria-hidden="true"></i>
                        Estado:
                        {{c.Estado}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{%endfor%}
{%endif%}
<script>
    $(function () {
        $('.datetime-input').datetimepicker({
            format: 'Y-M-D H:m'
        }); catego
    });
</script>
{% endblock %}