<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <form role="form" action="{% url 'eventos:EditarEvento' object.pk %}" method="post">
            <div class="panel panel-default">
                <div class="text-center">
                    </br>
                    <strong  style="color: black"> Editar Producto </strong>
                </div>
                </br>
                <div class="panel-body">
                    {% csrf_token %}
                    <div class="container">
                        <div class="row">
                            <input type="hidden" value="{{ user.id}}" name="user">
                            <div class="dropdown col-sm-3">
                                <label for="">Tipo de Producto:</label>
                                {{form.TipoProducto}}
                                {{ form.TipoProducto.errors }}
                            </div>
                            <div class="dropdown col-sm-3">
                                <label for="">Modelo:</label>
                                {{form.ModeloProducto}}
                                {{ form.ModeloProducto.errors }}

                            </div>
                            <div class="dropdown col-sm-3">
                                <label for="">Ubicacion:</label>
                                {{form.Ubicacion}}
                                {{ form.Ubicacion.errors }}
                            </div>
                            <div class="dropdown col-sm-3">
                                <label for="">Area:</label>
                                {{form.Area}}
                                {{form.Area.errors }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="dropdown col-sm-3">
                                <label for="">Contrato:</label>
                                {{form.Contrato}}
                                {{form.Contracto.errors }}
                            </div>
                            <div class="col -sm-3">
                                <div class="form-group">
                                    <label>Serial:</label>
                                    {{ form.Serial }}
                                    {{ form.Serial.errors }}
                                </div>
                            </div>
                            <div class="col -sm-3">
                                <div class="form-group">
                                    <label>Imei: </label>
                                    {{ form.Imei }}
                                    {{ form.Imei.errors }}
                                </div>
                            </div>
                            <div class="col -sm-3">
                                <div class="form-group">
                                    <label>Descripción: </label>
                                    {{ form.Descripcion }}
                                    {{ form.Descripcion.errors }}
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>Asignado:</label>
                                    {{ form.Asignado }}
                                    {{ form.Asignado.errors }}
                                    </di>
                                </div>
                            </div>
                            <div class="dropdown col-sm-3">
                                <label for="">Proveedor:</label>
                                {{form.Proveedor}}
                                {{ form.Proveedor.errors }}

                            </div>
                            <div class="dropdown col-sm-3">
                                <label for="">Propietario:</label>
                                {{form.Propietario}}
                                {{ form.Propietario.errors }}

                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>Cantidad:</label>
                                    {{ form.Cantidad }}
                                    {{ form.Cantidad.errors }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="dropdown col-sm-3">
                                <label for="">Estado:</label>
                                {{form.Estado}}
                                {{ form.Estado.errors }}
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>Cargar foto:</label>
                                    {{form.media}}
                                    {{ form.Foto }}
                                    {{ form.Foto.errors}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary" style="background-color: #3e5f8a;">
                        Actualizar
                    </button>
                    <a onclick="cerrar_modal():" href="" class="btn btn-dark">
                        <i class="fa fa-undo fa-lg" aria-hidden="true"></i>Cancelar</a>
                </div>
            </div>
        </form>
    </div>
</div>