{% extends 'inicio/person.html' %}


{% block body %}
<div class="container my-5">
    <h2 style="color: black;">Registrar Producto</h2></br>
    {% if form.errors %}
    {% for field in form %}
    {% for error in field.errors %}
    <div class="alert alert-danger">
        <strong>Error</strong>
    </div>
    {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
    <div class="alert alert-danger">
        <strong>{{ error|escape }}</strong>
    </div>
    {% endfor %}
    {% endif %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="card">
            <div class="container">
                <br>
                <div class="row">
                    <input type="hidden" value="{{ user.id}}" name="user">
                    <div class="dropdown col-sm-3">
                        <label for="">Tipo de Producto:</label>
                        {{form.TipoProducto}}
                        {{ form.TipoProducto.errors }}
                    </div>
                    <div class="dropdown col-sm-3">
                        <label for="">Modelo:</label>
                        {{form.ModeloProducto}}
                        {{ form.ModeloProducto.errors }}

                    </div>
                    <div class="dropdown col-sm-3">
                        <label for="">Ubicacion:</label>
                        {{form.Ubicacion}}
                        {{ form.Ubicacion.errors }}
                    </div>
                    <div class="dropdown col-sm-3">
                        <label for="">Area:</label>
                        {{form.Area}}
                        {{form.Area.errors }}
                    </div>
                </div>
                <div class="row">
                    <div class="dropdown col-sm-3">
                        <label for="">Contracto:</label>
                        {{form.Contrato}}
                        {{form.Contrato.errors }}
                    </div>
                    <div class="col -sm-3">
                        <div class="form-group">
                            <label>Serial:</label>
                            {{ form.Serial }}
                            {{ form.Serial.errors }}
                        </div>
                    </div>
                    <div class="col -sm-3">
                        <div class="form-group">
                            <label>Imei: </label>
                            {{ form.Imei }}
                            {{ form.Imei.errors }}
                        </div>
                    </div>
                    <div class="col -sm-3">
                        <div class="form-group">
                            <label>Descripción: </label>
                            {{ form.Descripcion }}
                            {{ form.Descripcion.errors }}
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label>Asignado:</label>
                            {{ form.Asignado }}
                            {{ form.Asignado.errors }}
                            </di>
                        </div>
                    </div>
                    <div class="dropdown col-sm-3">
                        <label for="">Proveedor:</label>
                        {{form.Proveedor}}
                        {{ form.Proveedor.errors }}

                    </div>
                    <div class="dropdown col-sm-3">
                        <label for="">Propietario:</label>
                        {{form.Propietario}}
                        {{ form.Propietario.errors }}

                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label>Cantidad:</label>
                            {{ form.Cantidad }}
                            {{ form.Cantidad.errors }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label>Estado:</label>
                            {{ form.Estado }}
                            {{ form.Estado.errors }}
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Cargar foto:</label>
                            {{form.media}}
                            {{ form.Foto }}
                            {{ form.Foto.errors}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <button type="submit" class="btn btn" style="background-color: #3e5f8a ;"><span style="color: white;">Crear Producto</span></button>
            </div>
        </div>
    </form>
</div>
{% endblock %}