<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <form role="form" method="post" class="form-inline">
            <div class="panel panel-default">
                <div class="text-center" style="color: black;">
                    Detalle Producto
                </div>
                <div class="card-body">
                    {% csrf_token %}
                    <div class="container posts-content ">
                        <div class="">
                            <div class="col-lg-12 ">
                                <div class="card mb-12">
                                    <div class="media-body ml-12">
                                        </br>
                                        <strong>{{object.TipoProducto}}</strong>
                                        <div class="text-muted small">Fecha de Ingreso:{{object.FechaCreacion}}</div>
                                    </div>
                                    <hr class="card-body">
                                    <img src="{{ object.Foto.url}} " height="200" width="400" class="img-fluid" 
                                    alt="Responsive image">
                                    <p>
                                        {{object.Descripcion}}
                                    </p>
                                    <div class="text-muted small"><i class="fa fa-id-card"></i> Asignado a:
                                        {{object.Asignado}}
                                    </div>
                                    <div class="text-muted small"><i class="fa fa-map-marker"></i> Ubicación:
                                        {{object.Ubicacion}}</div>
                                    <div class="text-muted small"><i class="fa fa-barcode"></i>
                                        Serial: {{object.Serial}} </br>
                                        <i class="fa fa-bookmark"></i>
                                        Imei: {{object.Imei}}
                                    </div>
                                    <div class="text-muted small"><i class="fa fa-bars"></i> Modelo:
                                        {{object.ModeloProducto}}
                                        </br><i class="fa fa-copyright"></i> Contrato: {{object.Contrato}}
                                    </div>
                                    <div class="text-muted small"><i class="fa fa-hashtag" aria-hidden="true"></i>
                                        Cantidad:
                                        {{object.Cantidad}}
                                    </div>
                                    <div class="text-muted small"><i class="fa fa-exclamation" aria-hidden="true"></i>
                                        Estado:
                                        {{object.Estado}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <a onclick="cerrar_modal():" href="" class="btn btn-dark">
                            <i class="fa fa-undo fa-lg" aria-hidden="true"></i>Regresar</a>
                    </div>
                </div>
            </div>
        </form>
    </div>

</div>