<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <form role="form" action="{% url 'eventos:EditarBackup' object.pk %}" method="post">
            <div class="panel panel-default"></br>
                <div class="text-center">
                    <strong style="color: black">Editar Backup</strong>
                </div>
                </br>
                <div class="panel-body">
                    {% csrf_token %}
                    <div class="container">
                        <br>
                        <div class="row">
                            <input type="hidden" value="{{ user.id}}" name="user">
                            <div class="dropdown col-sm-3">
                                <label for="">Serial Producto:</label>
                                {{form.Producto}}
                                {{ form.Producto.errors }}
                            </div>
                            <div class="col -sm-9">
                                <div class="form-group">
                                    <label for="">Reporte Noveda:</label>
                                    {{form.ReporteNoveda}}
                                    {{ form.ReporteNoveda.errors }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col -sm-3">
                                <div class="form-group">
                                    <label>Dia Envio:</label>
                                    {{ form.DiaEnvio }}
                                    {{ form.DiaEnvio.errors }}
                                </div>
                            </div>
                            <div class="col -sm-3">
                                <div class="form-group">
                                    <label>Dia Regreso:</label>
                                    {{ form.DiaRegreso }}
                                    {{ form.DiaRegreso.errors }}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-9">
                                <label for="">Observaciones:</label>
                                {{form.Observaciones}}
                                {{form.Observaciones.errors }}
                            </div>
                        </div>
                    </div></br>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary" style="background-color: #3e5f8a;">
                            Actualizar
                        </button>
                        <a onclick="cerrar_modal():" href="" class="btn btn-dark">
                            <i class="fa fa-undo fa-lg" aria-hidden="true"></i>Cancelar</a>
                    </div>
                </div>
        </form>
    </div>
</div>