<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <form role="form" action="{% url 'eventos:EliminarBackup' object.pk %}" method="post">
            <br class="panel panel-default">
            <div class="text-center">
                <strong style="color: red;"> Eliminar Backup ! </strong>
            </div></br>
            <div class="panel-body">
                {% csrf_token %}
                <div class="text-center">
                    <p><strong>¿ Desea eliminar el backup con fecha de registro, {{object.FechaCreacion}} ? </strong></p>
                </div>

                <div class="text-center">
                    <button type="submit" class="btn btn-danger" >
                        Confirmar
                    </button>
                    <a onclick="cerrar_modal():" href="" class="btn btn-dark">
                        <i class="fa fa-undo fa-lg" aria-hidden="true"></i>Cancelar</a>
                </div>
            </div>
    </div>
    </form>
</div>