<div class="modal-fade">
    <div class="modal-content">
        <form role="form" method="post" class="form-inline">
            <div class="panel panel-default">
                <div class="text-center" style="color: black;">
                    Detalle de Backup
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    {% csrf_token %}
                    <div class="card">
                        <div class="card-body">
                            <label>Id Backup: {{object.id}}</label>
                            <br>
                            <label>Fecha Backup: {{object.FechaCreacion}}</label>
                            <br>
                            <label>Serial Producto: {{object.Producto}}</label>
                            <br>
                            <label>Reporte Noveda: {{object.ReporteNoveda}}</label>
                            <br>
                            <label>Fecha Envio Backup: {{object.DiaEnvio}}</label>
                            <br>
                            <label>Fecha Regreso Backup: {{object.DiaRegreso}}</label>
                            <br>
                            <label>Observaciones: {{object.Observaciones}}</label>
                            <br>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <a onclick="cerrar_modal():" href="" class="btn btn-darck"><span
                            class="fa fa-undo"></span> Regresar</a>
                </div>
            </div>
        </form>
    </div>

</div>
